body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px;
	padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
select {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
dl {
	list-style: none;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
menu {
	list-style: none;
}
li {
	list-style: none;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}

th {
	color: rgb(102, 102, 102); line-height: 1.5; font-family: "¸¼Àº °íµñ"; font-size: 12px;
}
td {
	color: rgb(102, 102, 102); line-height: 1.5; font-family: "¸¼Àº °íµñ"; font-size: 12px;
}
input {
	color: rgb(102, 102, 102); line-height: 1.5; font-family: "¸¼Àº °íµñ"; font-size: 12px;
}
select {
	color: rgb(102, 102, 102); line-height: 1.5; font-family: "¸¼Àº °íµñ"; font-size: 12px;
}
textarea {
	color: rgb(102, 102, 102); line-height: 1.5; font-family: "¸¼Àº °íµñ"; font-size: 12px;
}
button {
	color: rgb(102, 102, 102); line-height: 1.5; font-family: "¸¼Àº °íµñ"; font-size: 12px;
}
.os_mac body {
	font-family: apple SD gothic neo,"µ¸¿ò",dotum,sans-serif;
}
.os_mac th {
	font-family: apple SD gothic neo,"µ¸¿ò",dotum,sans-serif;
}
.os_mac td {
	font-family: apple SD gothic neo,"µ¸¿ò",dotum,sans-serif;
}
.os_mac input {
	font-family: apple SD gothic neo,"µ¸¿ò",dotum,sans-serif;
}
.os_mac select {
	font-family: apple SD gothic neo,"µ¸¿ò",dotum,sans-serif;
}
.os_mac textarea {
	font-family: apple SD gothic neo,"µ¸¿ò",dotum,sans-serif;
}
.os_mac button {
	font-family: apple SD gothic neo,"µ¸¿ò",dotum,sans-serif;
}
a {
	color: white; text-decoration: none;
}
a:active {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
}
a:active {
	background-color: transparent;
}

.d_gnb {
	padding: 0px 56px; left: 0px; top: 50%; width: 207px; height: 352px; text-align: center; margin-top: -183px; position: absolute;
}
.gnb_corp {
	margin: 0px auto;
	margin-top: 40px; position: relative; width:150px;
}
.gnb_corp li {
	position: relative;
}
.gnb_corp .link_gnb {
	 margin: 0px auto; height: 40px; line-height: 40px; letter-spacing: -1px; font-size: 13px; font-weight: bold; display: block;
}
.gnb_corp .link_gnb {
	width: 100px;
}
.gnb_corp .link_gnb1 {
	background-position: 12px -50px;
}
.gnb_corp .link_gnb2 {
	background-position: -120px -50px;
}
.gnb_corp .link_gnb3 {
	background-position: -240px -50px;
}
.gnb_corp .link_gnb4 {
	background-position: -360px -50px;
}
.gnb_corp .link_gnb5 {
	background-position: -480px -50px;
}
.gnb_corp .link_gnb6 {
	background-position: -600px -50px;
}
.gnb_corp .link_gnb1:hover {
	background-position: 12px -100px;
}
.gnb_corp .link_gnb1:focus {
	background-position: 12px -100px;
}
.gnb_corp .link_gnb2:hover {
	background-position: -120px -100px;
}
.gnb_corp .link_gnb2:focus {
	background-position: -120px -100px;
}
.gnb_corp .link_gnb3:hover {
	background-position: -240px -100px;
}
.gnb_corp .link_gnb3:focus {
	background-position: -240px -100px;
}
.gnb_corp .link_gnb4:hover {
	background-position: -360px -100px;
}
.gnb_corp .link_gnb4:focus {
	background-position: -360px -100px;
}
.gnb_corp .link_gnb5:hover {
	background-position: -480px -100px;
}
.gnb_corp .link_gnb5:focus {
	background-position: -480px -100px;
}
.gnb_corp .link_gnb6:hover {
	background-position: -600px -100px;
}
.gnb_select li {
	width: 108px;
}
.gnb_select .link_gnb {
	margin: 0px; text-align: left;
}
.gnb_select .link_gnb1 {
	background-position: 0px -200px;
}
.gnb_select .link_gnb2 {
	background-position: -120px -200px;
}
.gnb_select .link_gnb3 {
	background-position: -240px -200px;
}
.gnb_select .link_gnb4 {
	background-position: -360px -200px;
}
.gnb_select .link_gnb5 {
	background-position: -480px -200px;
}
.gnb_select .link_gnb6 {
	background-position: -600px -200px;
}
.gnb_corp .on .link_gnb1 {
	background-position: 0px -150px;
}
.gnb_corp .on .link_gnb2 {
	background-position: -120px -150px;
}
.gnb_corp .on .link_gnb3 {
	background-position: -240px -150px;
}
.gnb_corp .on .link_gnb4 {
	background-position: -360px -150px;
}
.gnb_corp .on .link_gnb5 {
	background-position: -480px -150px;
}
.gnb_corp .on .link_gnb6 {
	background-position: -600px -150px;
}
.gnb_select .link_gnb1:hover {
	background-position: 0px -150px;
}
.gnb_select .link_gnb1:focus {
	background-position: 0px -150px;
}
.gnb_select .link_gnb2:hover {
	background-position: -120px -150px;
}
.gnb_select .link_gnb2:focus {
	background-position: -120px -150px;
}
.gnb_select .link_gnb3:hover {
	background-position: -240px -150px;
}
.gnb_select .link_gnb3:focus {
	background-position: -240px -150px;
}
.gnb_select .link_gnb4:hover {
	background-position: -360px -150px;
}
.gnb_select .link_gnb4:focus {
	background-position: -360px -150px;
}
.gnb_select .link_gnb5:hover {
	background-position: -480px -150px;
}
.gnb_select .link_gnb5:focus {
	background-position: -480px -150px;
}
.gnb_select .link_gnb6:hover {
	background-position: -600px -150px;
}
.gnb_sub {
	left: 100px; top: 0px; width: 108px; overflow: hidden; display: none; position: absolute;
}
/*left ¹Ù²Ù¸é »çÀÌ°Å¸® ´Ã¾î³²*/
.on .gnb_sub {
	display: block;
}
.gnb_sub .link_sub {
	width: 116px; height: 40px; text-align: left; line-height: 40px; letter-spacing: -1px; font-size: 12px; font-weight: bold; display: block;
}

.cont_home .desc_box {
	margin: 13px 0px 10px; height: 34px; color: rgb(137, 137, 137); overflow: hidden; display: block; -ms-word-break: break-all; -ms-text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-clamp: 2;
}
.cont_home .box_img {
	border-width: 35px 35px 0px; border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) currentColor; border-image: none; text-align: center; overflow: hidden; display: block; position: relative;
}
.cont_home .img_main {
	margin: 0px -40px; width: 100%; vertical-align: top;
}
.link_roll {
	background: rgb(255, 255, 255); overflow: hidden; padding-top: 25px; margin-right: 1px; display: block;
}
.box .img_roll {
	transition:0.2s ease-out; -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; -o-transition: all .2s ease-out;
}
.box:hover .img_roll {
	transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1);
}
.boximg .img_roll {
	transition:0.2s ease-out; -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; -o-transition: all .2s ease-out;
}
.boximg:hover .img_roll {
	transform: scale(1.1); -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1);
}
.link_roll:hover {
	background: rgb(242, 242, 242);
}
.link_roll:hover .box_img {
	border-color: rgb(242, 242, 242);
}
.cont_home .wrap_box {
	overflow: hidden; margin-right: 1px;
}
.cont_home .link_box {
	overflow: hidden; padding-top: 25px; margin-right: 1px; display: block;
}
.link_box:hover {
	background: rgb(242, 242, 242);
}
.link_box:hover .box_img {
	border-color: rgb(242, 242, 242);
}
